{
  "presets": ["next/babel"],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "style": "index.less"
      }
    ],
  ],
  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    }
  }
}
